* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ffc107;
}

button {
  font: 1.6 rem helvetica;
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #ffc107;
}

.fw {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #2196f3;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  padding-right: 1.5em;
}

header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: #ffc107;
}

.brand a {
  font-size: 3em;
}

footer {
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0;
  height: 47rem;
  border-top: 0.2rem #b3b3b3 solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product img {
  max-height: 340px;
  max-width: 30em;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: black;
}

.product-price {
  font-size: 2rem;
}

/* Rating */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 2rem;
}

/* Products details*/
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60 rem;
  width: 100%;
}

.details-info,
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem rgb(104, 115, 115) solid;
  border-radius: 0.5rem;
  background-color: #e6e6e6;
  padding: 1rem;
}
